@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#telefone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    position: absolute;
    left: 50%;
    top: 50.4%;
    transform: translate(-50%, -50%);
    height: 472px;
    width: 268px;
    overflow: auto;
}

img.botoes {
    box-sizing: border-box;
    width: 50px;
    margin: 10px;
    float: right;
    clear: right;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.61);
    opacity: 80%;
    transition-duration: .4s;
}

img.botoes:hover {
    border: 2px solid white;
    opacity: 100%;
    transform: scale(1.1) translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.726);
}

img.botoes:active {
    transform: scale(100%);
    transition: 0.2s;
}