@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#telefone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

iframe {
    position: absolute;
    left: 50%;
    top: 50.4%;
    transform: translate(-50%, -50%);
    height: 472px;
    width: 268px;
    overflow: auto;
}

img.botoes {
    margin: 10px;
    float: right;
    clear: right;
    height: 50px;
    border-radius: 50%;
    box-shadow: 3px 3px 8px black;
}

img.botoes:hover {
    transform: translateY(-5px) translateX(-5px);
}