@charset "UTF-8";

:root {
    --cor1: #ffc4eb;
    --cor2: #FFE4FA;
    --cor3: #fa7ef0;
    --cor4: #fff7d8de;
    --cor5: #ABC798;
}

@media screen and (min-width:768px) and (max-width:993px) { /* Tablet */
    body {
        background-image: linear-gradient(to bottom, #ffc4eb, #abc798);
    }

    section {
        width: 90%;
        height: 300px;
    }

    #imagem {
        background-image: url(../imagens/woman-dancing.jpg);
        float: left;
        height: 100%;
        width: 40%;
    }

    #formulario {
        float: right;
        width: 60%;
        height: 100%;
    }

    .campo {
        width: 90%;
    }

    #entrar {
        width: 100%;
    }
}

@media screen and (min-width:994px) { /* Telas grandes */
    body {
        background-image: linear-gradient(to bottom, #ffc4eb, #abc798);
    }

    section {
        max-width: 1200px;
        width: 90%;
        height: 400px;
    }

    #imagem {
        background-image: url(../imagens/woman-lying-down.jpg);
        float: right;
        height: 100%;
        width: 50%;
    }

    #formulario {
        float: left;
        width: 50%;
        height: 100%;
    }

    form > h1 {
        font-size: 3em;
        margin-bottom: 10px;
}
    
    form > p {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .campo {
        width: 91%;
    }

    .fundo {
        margin-bottom: 7px;
    }

    #entrar {
        width: 100%;
        margin-bottom: 20px;
    }
}