@charset "UTF-8";

:root {
    --cor1: #ffc4eb;
    --cor2: #FFE4FA;
    --cor3: #fa7ef0;
    --cor4: #fff7d8de;
    --cor5: #ABC798;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: var(--cor1);
}

section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
    overflow: hidden;
}

#imagem {
    display: block;
    background-image: url(../imagens/woman-flower.jpg);
    background-position: center center;
    background-size: cover;
    width: 250px;
    height: 200px;
}

#formulario {
    display: block;
    padding: 10px;
}

form > h1 {
    text-align: center;
    padding-bottom: 10px;
}

form > p {
    font-size: 13px;
    padding-bottom: 5px;
    border-radius: 5px;
}

.fundo {
    background-color: #fa7ef0;
    margin-bottom: 5px;
}

.campo {
    height: 30px;
    background-color: var(--cor4);
    border: 1px solid var(--cor2);
    border-radius: 5px;
}

.campo:focus {
    background-color: white;
}

.material-symbols-outlined {
    position: relative;
    top: 5px;
    color: white ;
    padding: 4px;
}

#entrar {
    background-color: var(--cor5);
    color: white;
    border: none;
    border-radius: 5px;
    width: 230px;
    height: 40px;
    margin-bottom: 5px;
}

#entrar:hover {
    background-color: #83af65;
}

a {
    display: block;
    padding: 10px;
    color: #83af65;
    text-decoration: none;
    text-align: center;
    border: 1px solid var(--cor5);
    border-radius: 5px;
}

a:hover {
    background-color: #cff1b8a8;
}

#mail {
    position: 0px;
    padding: 0px;
    font-size: 16px;
    color: #83af65;
}